@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}

.logo{
  @apply flex items-center gap-4
}
.list li a{
  @apply hover:bg-blue-300 rounded p-2 hover:text-white
}
.menu-hidden a{
  @apply p-3 text-white font-semibold hover:bg-blue-300 rounded
}